#main {
  margin-top: 70px;
  margin-right: 110px;
  margin-left: 310px;
}

#regForm {
    margin-top: 30px;
}

.hero-unit {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
}

.uigrid {
    width: 900px;
    height: 450px;
  }