#main {
  margin-top: 70px;
  margin-right: 110px;
  margin-left: 310px;
}

#regForm {
    margin-top: 30px;
}

.hero-unit {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
}

.sidemenu {
  font-family: serif;
  font-size: x-large;
}

.rounded {background-color:#CDC4CD; margin-top: 4px}
.rounded .inner {padding:8px 10px 8px 12px}
.rounded .c1 {height:1px;line-height:1px;font-size:1px;border-width: 0px 4px 0px 4px;border-color:#FFFFFF;border-style:solid;padding:0px}
.rounded .c2 {height:1px;line-height:1px;font-size:1px;display:block;border-width: 0px 2px 0px 2px;border-color:#FFFFFF;border-style:solid;padding:0px}
.rounded .c3 {height:2px;line-height:1px;font-size:1px;display:block;border-width: 0px 1px 0px 1px;border-color:#FFFFFF;border-style:solid;padding:0px}

.mousechange:hover {
        cursor:pointer;
    }

	.tab ul {
		float: left;
		border-radius: 5px;
		border: solid 1px rgb(198, 198, 198);
		padding: 7px 11px;
		background-color: rgb(248,248,248);
	}
	.tab li {
		float: left;
		background-color: rgb(200,200,200);
		padding: 5px 19px;
		margin: 5px 2px 5px 0px;
		color: black;
		list-style: none;
	}
 .tab li:hover, li:hover a {
		background-color: rgb(6,179,6);
		color:white;
	}
	 .tab li a {
		text-decoration: none;
		color: white;
		font-size: 21px;
		font-style: italic;
		text-shadow: 1px 0px 3px rgb(157, 157, 157);
	}
	.tab li:nth-child(1) { border-radius: 4px 0px 0px 4px; margin-left: 1px;}
	.tab li:nth-child(2) { border-radius: 0px 4px 4px 0px;}
	
	li>a:not(.tab) {
		background-color: rgb(60,59,6);
	}

	li.tabactive {
		background-color: rgb(6,179,6);
		color:white;
	}

