<div class="row">
                        <a ui-sref="home.admin.vendors" class="btn btn-primary">List Vendors</a>

                        <a ui-sref="home.admin.new" class="btn btn-primary">Add a Vendor</a>

                        <a ui-sref="home.admin.bulkvendors" class="btn btn-primary">Import Vendors</a>

                        <a ui-sref="home.admin.items" class="btn btn-primary">List Items</a>

                        </div><hr/>

                        

                        <div class="row"><div ui-view></div></div>