
<div class="row" style="margin-top: 2%">
	
	<ul class="tab">
		<li class="tab" ng-class="{tabactive:selectedTab==='scheduled'}"> 
			<a href class="tab" ng-click="selectedTab = 'scheduled'">Recurring Goods & Services</a>	
		</li>
		<li clas="tab" ng-class="{tabactive:selectedTab==='onetime'}"> 
			<a href class="tab" ng-click="selectedTab = 'onetime'">One time Goods & Services</a> 
		</li>
	</ul>	
</div>


<div class="row" style="margin-top: 2%">
	<div class="tab" ng-show="selectedTab === 'scheduled'">
		<div class="col-md-8" style="border:2px solid #644a43;height:60vh;">
			<div>Your scheduled goods and services are these...</div>

		</div>
		<div class="col-md-4" style="min-height:100%">
			Schedule an item or service
			<div>Form with frequency goes here</div>
		</div>
	</div>



	<div class="tab" ng-show="selectedTab === 'onetime'">
		<div class="col-md-8" style="border:2px solid #644a43;height:60vh;">
			Your one time goods and services will be supplied on these dates.
		</div>

		<div class="col-md-4" style="min-height:100%">
			Add an item or service to get on specified date
			<div>Form with date goes here</div>
		</div>

	</div>