<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/site.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="icon" href="/favicon.ico?r=45645" />
</head>
<!-- CSS
================================================================================================= -->
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/themes/type_05.css">
<link rel="stylesheet" href="/css/themes/color_06.css">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Favicons
================================================================================================= -->
<link rel="shortcut icon" href="/images/favicons/favicon.ico">
<link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">

<!-- JS
================================================================================================= -->
<script src="/js/libs/modernizr.min.js"></script>
<script src="/js/libs/jquery-1.8.3.min.js"></script>
<script src="/js/libs/jquery.easing.1.3.min.js"></script>
<script src="/js/libs/jquery.fitvids.js"></script>
<script src="/js/script.js"></script>
<body>
<div id="main">


<!-- Write preloader to page - this allows the site to load for users with JS disabled -->
<script type="text/javascript">
	document.write("<div id='sitePreloader'><div id='preloaderImage'><img src='/images/site_preloader.gif' alt='Preloader' /></div></div>");
</script>

<div class="container">
	
	<!-- Header begins ========================================================================== -->
	<header class="sixteen columns">
		<div id="logo">
			<h1>My Office Admin</h1>
			<h2>Your World Class Virtual Admin</h2>
			<!--
			<img src="images/logo.png" width="275" height="35" alt="Logo" />
			-->
		</div>
		<nav>
			<ul>
				<li><button id="workPage">Work</button></li>
				<li><button id="aboutPage">About</button></li>
				<li><button id="loginPage">Login</button></li>
			</ul>
		</nav>
		<hr />
	</header>
	<!-- Header ends ============================================================================ -->
	<%= message %>
	<!-- Work page begins ======================================================================= -->
	<div id="work">
	
		<div id="overview" class="sixteen columns">
			<h3>Add or Remove Services On demand</h3>
			<i><h4>Maximum convenience, Minimum Administration. - Setup your entire office backend services at the click of a button </h4></i>
			<hr />
		</div>
		
		<div class="eight columns" id="col1">
		
			<!-- Project begins 1 ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Cleaning Equipment & Solutions</h4>
						<h5>Housekeeping,cleaning like stuff</h5>
					</div>
					
					<img src="/Landing_Page/cleaning_equipment.jpg" alt="Project 01" class="thumbnailImage" />
				</div>
				
				
			</div>
			<!-- Project ends 1 =================================================================== -->
			<!-- Project begins 2 ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Office Stationery</h4>
					</div>
					<img src="/Landing_Page/Stationery.jpg" alt="Project 05" class="thumbnailImage" />
				</div>
				
			</div>
			<!-- Project ends 2 =================================================================== -->
			<!-- Project begins 3 ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Manpower And Staffing Solutions</h4>
						<h5>staff and helpers</h5>
					</div>
					<img src="/Landing_Page/manpower.jpg" alt="Project 02" class="thumbnailImage" />
				</div>
			</div>
			<!-- Project ends 3 =================================================================== -->

			<!-- Project begins 3.5 ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Security Systems</h4>
						<h5>Optional Hover Subtitle</h5>
					</div>
					<img src="/Landing_Page/powerful_secutiry.jpg" alt="Project 02" class="thumbnailImage" />
				</div>
				
			</div>
			<!-- Project ends 3.5 =================================================================== -->			
			<!-- Project begins 4 ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Pest Control</h4>
						<h5>you know the pain</h5>
					</div>
					<img src="/Landing_Page/pest-control.png" alt="Project 03" class="thumbnailImage" />
				</div>
			</div>
			<!-- Project ends  4 =================================================================== -->
			
			<!-- Project begins 5 ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Water Cans</h4>
						<h5>h20,h two o,h to o</h5>
					</div>
					<img src="/Landing_Page/water_cans.JPG" alt="Project 04" class="thumbnailImage" />
				</div>
					
			</div>
			<!-- Project ends 5 ================================================================== -->
			
			<!-- Project begins 6 ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Car Wash Service</h4>
					</div>
					<img src="/Landing_Page/car_wash.jpg" alt="Project 05" class="thumbnailImage" />
				</div>
				
			</div>
			<!-- Project ends 6 =================================================================== -->
			
			<!-- Project begins 7 ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Event Management</h4>
						<h5>for all your corporate needs</h5>
					</div>
					<img src="/Landing_Page/event_management.jpg" alt="Project 06" class="thumbnailImage" />
				</div>
					
				
			</div>
			<!-- Project ends 7 =================================================================== -->
			
			
		</div><!-- col1 -->
		
		<!-- Even numbered projects are dynamically moved into this second column via JS -->
		
		<div class="eight columns" id="col2">
				
		</div>
	
	
	
	</div>
	<!-- Work page ends ========================================================================= -->
	
	
	
	
	
	<!-- About page begins ====================================================================== -->
	<div id="about">
		
		<!-- Column 1 begins ==================================================================== -->
		<div class="eight columns">
			
		
		</div>
		<!-- Column 1 ends ====================================================================== -->
		
		<!-- Column 2 begins ==================================================================== -->
		<div class="eight columns">
			
			<img src="images/about.jpg" alt="About" />
			
			<ul class="linedList">
				<li><strong>Location:</strong> Banglore</li>
				<li><strong>Email:</strong> <a href="mailto:cricketabhi@gmail.com">cricketabhi@gmail.com</a></li>
			</ul>
			
		</div>
		<!-- Column 2 ends ====================================================================== -->
		
	</div>
	<!-- About page ends ======================================================================== -->
	<!-- Login page begins ====================================================================== -->
	<div id="login">
		
		<!-- Column 1 begins ==================================================================== -->
		<div class="eight columns">
			 <form class="form" action="/user/login" method="POST">

                            <input class="input-large" name="username" type="text" id="username" placeholder="Username">

                            <input class="input-large" name="password" type="password" id="password" placeholder="Password">

                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
		
		</div>
		<!-- Column 1 ends ====================================================================== -->
		
		<!-- Column 2 begins ==================================================================== -->
		<div class="eight columns">
		
		</div>
		<!-- Column 2 ends ====================================================================== -->
		
	</div>
	<!-- Login page ends ======================================================================== -->
	
	<!-- Footer begins ========================================================================== -->
	<footer class="sixteen columns">
		<hr />
		<ul id="footerLinks">
			<li>&copy;copied content.</li>
			<li><strong>Email:</strong> <a href="mailto:cricketabhi@gmail.com">cricketabhi@gmail.com</a></li>
		</ul>
	</footer>
	<!-- Footer ends ============================================================================ -->
		
</div><!-- container -->


  
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--
-->
</div>
</body>
</html>
