<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/site.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="icon" href="/favicon.ico?r=45645" />
</head>
<!-- CSS
================================================================================================= -->
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/themes/type_05.css">
<link rel="stylesheet" href="/css/themes/color_06.css">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Favicons
================================================================================================= -->
<link rel="shortcut icon" href="/images/favicons/favicon.ico">
<link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">


<body>
<div id="main">

<div class="container">
	
	<!-- Header begins ========================================================================== -->
	<header class="sixteen columns">
		<div id="logo">
			<h1>My Office Admin</h1>
			<h2>Your World Class Virtual Admin</h2>
			<!--
			<img src="images/logo.png" width="275" height="35" alt="Logo" />
			-->
		</div>
		<nav>
			<ul>
				<li><button id="loginPage">Login</button></li>
			</ul>
		</nav>
		<hr />
	</header>
	<!-- Header ends ============================================================================ -->
	<%= message %>
	<!-- Work page begins ======================================================================= -->
	<!-- Login page begins ====================================================================== -->
	<div id="login">
		
		<!-- Column 1 begins ==================================================================== -->
		<div class="eight columns">
			 <form class="form" action="/user/login" method="POST">

                            <input class="input-large" name="username" type="text" id="username" placeholder="Username">

                            <input class="input-large" name="password" type="password" id="password" placeholder="Password">

                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
		
		</div>
		<!-- Column 1 ends ====================================================================== -->
		
		<!-- Column 2 begins ==================================================================== -->
		<div class="eight columns">
		
		</div>
		<!-- Column 2 ends ====================================================================== -->
		
	</div>
	<!-- Login page ends ======================================================================== -->
	
	<!-- Footer begins ========================================================================== -->
	<footer class="sixteen columns">
		<hr />
		<ul id="footerLinks">
			<li><strong>Webadmin:</strong> <a href="mailto:harish.myemails@gmail.com">harish</a></li>
			<li><strong>Operations:</strong> <a href="mailto:cricketabhi@gmail.com">abhishek</a></li>
		</ul>
	</footer>
	<!-- Footer ends ============================================================================ -->
		
</div><!-- container -->


  
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--
-->
</div>
</body>
</html>
