<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico?r=878" />
    <!-- injector:css -->
    <link rel="stylesheet" href="/js/lib/bootstrap-css-only/css/bootstrap.css">
    <link rel="stylesheet" href="/js/lib/angular-growl-v2/build/angular-growl.css">
    <link rel="stylesheet" href="/js/lib/components-font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/js/lib/angular-ui-grid/ui-grid.css">
    <link rel="stylesheet" href="/js/lib/ngDialog/css/ngDialog.css">
    <link rel="stylesheet" href="/js/lib/ngDialog/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="/js/lib/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="/js/lib/angularjs-datepicker/dist/angular-datepicker.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <!-- endinjector -->
    <!-- injector:js -->
    <script src="/js/lib/es5-shim/es5-shim.js"></script>
    <script src="/js/lib/angular/angular.js"></script>
    <script src="/js/lib/ui-router/release/angular-ui-router.js"></script>
    <script src="/js/lib/ng-underscore/build/ng-underscore.js"></script>
    <script src="/js/lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="/js/lib/angular-file-upload/angular-file-upload.js"></script>
    <script src="/js/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/js/lib/angular-growl-v2/build/angular-growl.js"></script>
    <script src="/js/lib/angular-animate/angular-animate.js"></script>
    <script src="/js/lib/angular-ui-grid/ui-grid.js"></script>
    <script src="/js/lib/ng-file-upload/ng-file-upload.js"></script>
    <script src="/js/lib/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="/js/lib/ngDialog/js/ngDialog.js"></script>
    <script src="/js/lib/pdfmake/build/pdfmake.js"></script>
    <script src="/js/lib/pdfmake/build/vfs_fonts.js"></script>
    <script src="/js/lib/angular-loading-bar/build/loading-bar.js"></script>
    <script src="/js/lib/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/controllers/customercontroller.js"></script>
    <script src="/js/app/controllers/displayController.js"></script>
    <script src="/js/app/controllers/itemcontroller.js"></script>
    <script src="/js/app/controllers/vendorcontroller.js"></script>
    <script src="/js/app/services/authentication.js"></script>
    <script src="/js/app/services/customerservice.js"></script>
    <script src="/js/app/services/shopservice.js"></script>
    <script src="/js/app/services/vendorservice.js"></script>
    <!-- endinjector -->

    <body ng-app="offeringsApp" >
        <div growl></div>

        <div id="main">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/"><%= title %></a>

                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <% if (!user.isCustomer) { %>
                        <li><a href="/user/registration">Add User</a></li>
                        <% }else{%>
                       <li><a href="#/customer/profile">Profile</a></li>
                        <%} %>
                        <li><a  href="/logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
            <h4>Welcome, <%= user.username %></h4>
            <div class="container" >
                <div class="hero-unit">
                    <div class="row">
                      <div ui-view></div>
                  </div>
              </div>
          </div>
      </div>
  </body>
  </html>