<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <!-- injector:css -->
    <link rel="stylesheet" href="/js/lib/bootstrap-css-only/css/bootstrap.css">
    <link rel="stylesheet" href="/js/lib/angular-growl-v2/build/angular-growl.css">
    <link rel="stylesheet" href="/js/lib/components-font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/site.css">
    <!-- endinjector -->
    <!-- injector:js -->
    <script src="/js/lib/angular/angular.js"></script>
    <script src="/js/lib/ui-router/release/angular-ui-router.js"></script>
    <script src="/js/lib/lodash/lodash.js"></script>
    <script src="/js/lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="/js/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/js/lib/angular-growl-v2/build/angular-growl.js"></script>
    <script src="/js/lib/angular-animate/angular-animate.js"></script>
    <script src="/js/app.js"></script>
    <!-- endinjector -->

<body ng-app="offeringsApp" >

   

<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand"><%= title %></a>
            <ul class="nav pull-right">
                <li><a  href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container" id="main">
    <div class="hero-unit">
        <h4>Welcome, <%= user.username %></h4>
         <div ui-view></div>


    </div>
</div>
</body>
</html>