<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<div id="main">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><%= title %></a>

                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user/registration">Add User</a></li>
                        <li><a  href="/logout">Logout</a></li>
                    </ul>
                </div>
    </nav>
        <div class="container">

            <div class="hero-unit reg=header">
                <h4>Registration Form</h4>
            </div>

            <div id="regForm">

                <form action="/user/create" method="POST" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="username_input">Username</label>

                        <div class="controls">
                            <input type="text" id="username_input" name="username">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="email_input" class="control-label" for="email_input">Email</label>

                        <div class="controls">
                            <input type="text" id="email_input" name="email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="password_input" for="password_input" class="control-label">Password</label>

                        <div class="controls">
                            <input type="password" id="password_input" name="password">
                        </div>
                    </div>
                     <label><input type="checkbox" name="isCustomer" id="customer"> Customer </label>
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" name="Submit" value="Register" class="btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </body>
    </html>